In [8]:
import pandas as pd
import seaborn as sns

#### Import dataset

In [7]:
sales_data = pd.read_csv("pc_parts_sales.csv")

#### Descriptive statistics

In [10]:
sales_data.head(10)

,order_id,product,quantity_ordered,price_each,order_date,purchase_address_city,purchase_address_country
0,OP89504310,HDD,3.32,61.03,12/12/2023,Chicago,United States
1,IP83558271,Keyboard,4.35,66.18,07/21/2024,Berlin,Germany
2,FW46738968,Case,8.36,308.57,07/15/2024,Mobile,United States
3,HJ32275080,SSD,9.31,135.44,02/14/2024,Wilmington,United States
4,XC48442442,Wireless Adapter,1.89,339.28,07/03/2024,Dillenburg,Germany
5,XA53374264,Power Supply,9.23,NaN,07/12/2024,Carson City,United States
6,YA03838812,Motherboard,4.53,183.58,11/20/2023,Oklahoma City,United States
7,TJ99372180,Microphone,5.16,22.38,12/25/2023,San Jose,United States
8,HW73990535,Cooling Fan,2.73,123.03,04/29/2024,Dresden,Germany
9,CD90844685,Power Supply,1.54,21.14,04/08/2024,Pittsburgh,United States

In [11]:
sales_data.describe()

       quantity_ordered  price_each
count       1000.000000  927.000000
mean           5.484390  206.650863
std            2.569336  110.549861
min            1.030000   20.850000
25%            3.320000  109.865000
50%            5.450000  204.350000
75%            7.580000  305.525000
max            9.990000  399.580000

#### Data cleaning

In [36]:
sales_data_cleaned = sales_data[['product', 'quantity_ordered', 'price_each', 'order_date', 'purchase_address_city', 'purchase_address_country']]
sales_data.head(4)

,product,quantity_ordered,price_each,order_date,purchase_address_city,purchase_address_country
0,HDD,3.32,61.03,12/12/2023,Chicago,United States
1,Keyboard,4.35,66.18,07/21/2024,Berlin,Germany
2,Case,8.36,308.57,07/15/2024,Mobile,United States
3,SSD,9.31,135.44,02/14/2024,Wilmington,United States

In [37]:
sales_data_cleaned.isnull().sum()

product                      0
quantity_ordered             0
price_each                  73
order_date                   0
purchase_address_city       67
purchase_address_country    54
dtype: int64

In [40]:
sales_data_cleaned.dropna(subset=['price_each'], inplace=True)

In [41]:
sales_data_cleaned.isnull().sum()

product                      0
quantity_ordered             0
price_each                   0
order_date                   0
purchase_address_city       62
purchase_address_country    53
dtype: int64